@import "../public/css/style.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
#chart .apexcharts-xaxis-tick {
  display: none;
}

.text-gray {
  color: #7184ad;
}

.bold {
  font-weight: bold;
}

.btn:disabled {
  opacity: 0.4;
}